.destinoGaleriaContenedor.destino img {
    height: 300px;
    object-fit: cover;
    filter: brightness(0.7);
}

.destinoGaleriaContenedor.destino {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    flex-direction: column;
    width: 100%;
}

.destinoGaleriaContenedor.destino .imagen {
    position: relative;
}

.destino .titulo {
    font-size: 20px;
    position: absolute;
    text-align-last: center;
    align-self: anchor-center;
    color: var(--blanco);
    font-family: var(--font-serif);
    position-area: center;
    max-width: 80%;
    line-height: 29px;
}

.destino .gloryGrupo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

h3.grupoHead {
    font-size: 22px !important;
    font-family: var(--font-serif);
    line-height: unset;
    font-weight: 500;
}

.otrosDestinos img {
    max-height: 250px;
    max-width: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.otrosDestinos.destino {
    display: flex;
    gap: 20px;
}

.otrosDestinos .titulo {
    position: unset;
    color: unset !important;
    text-align: start;
    font-size: 14px;
    text-align-last: unset !important;
    padding-top: 10px;
}

.otros-destinos {
    overflow: auto;
}

.otros-destinos::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.heroTercero {
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 0px;
    max-width: 800px;
}

.heroTercero h2 {
    font-family: var(--font-serif);
    FONT-WEIGHT: 500;
    font-size: 34px;
}