.destinoGaleriaContenedor.destino img {
    height: 300px;
    object-fit: cover;
    filter: brightness(0.7);
}

.destinoGaleriaContenedor.destino {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    flex-direction: column;
    width: 100%;
}

.destinoGaleriaContenedor.destino .imagen {
    position: relative;
}

.destino .titulo {
    font-size: 20px;
    position: absolute;
    text-align-last: center;
    align-self: anchor-center;
    color: var(--blanco);
    font-family: var(--font-serif);
    position-area: center;
    max-width: 80%;
    line-height: 29px;
}

.destino .gloryGrupo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

h3.grupoHead {
    font-size: 22px !important;
    font-family: var(--font-serif);
    line-height: unset;
    FONT-WEIGHT: 500;
}
