.experienciaGaleriaContenedor.experiencia {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.experienciaGaleriaContenedor img {
    width: 100% !important;
    object-fit: cover;
}